.glideread-b {
  font-weight: 600;
  opacity: 1;
}

.glideread-r {
  opacity: 0.7;
}

.glideread-bb {
  font-weight: 700;
}

.glideread-processed {
  /* marker class, no additional styles needed */
}
